version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: mysql_projecte1
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=projecte1_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: